body {
    	/*background-color: #1E8449;*/
        background-image: url("Death_to_stock_above_4.JPG");
}

h1 {
   	color: white;
    	text-align: center;
}
h1{
	margin:15px;
}
p {
    	font-family: verdana;
    	font-size: 20px;
	margin:15px;
}
div.links{
	text-align:center;
	overflow:hidden;
}
div.links ul{
	display:inline-block;
	text-align:left;
}
div.links li{
	float:left;
}
div.links li a{
	display:block;
	/*padding: 16px;*/
}
div,info{
	text-align:center;
}
div.info ul{
	display:inline-block; 
}
div.info li{
	float:left; 
	/*display:block;*/
}

.button{
	background-color: white;
    	border: none;
    	color: black;
    	padding: 15px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 28px;
	margin: 4px 10px;
	border-radius: 16px;
	border: 2px solid #008CBA;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor:pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.linkedinButton{
	border: 2px solid #008CBA;
	color: black;
}
.linkedinButton:hover {
	background-color: #008CBA;
	color: white;
}
.githubButton{
	border: 2px solid #f44336;
	color: black;
}
.githubButton:hover {
	background-color: #f44336;
	color: white;
}

.text{
    	border: none;
    	color: black;
    	display: inline-block;
    	text-align: center;
    	text-decoration: none;
    	font-size: 28px;
	border-radius: 16px;
	border: 2px solid #008CBA;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	cursor:pointer;
	padding: 15px 32px;
	background-color: #008CBA;	
	color: white;
}
.profile{
    position:relative;
    float:left;
}
.nav {
  overflow: hidden;
  background-color: #333;
  padding: 8px 8px 100px 9px;
}
.navButtons{
    top: 70px;
    margin-right:10vw; 
    position: relative;
}

.navButtons a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navButtons a:hover {
  background-color: #ddd;
  color: black;
}

.navButtons a.active {
    background-color: #4CAF50;
    color: white;
}
.personalHeader{
    position: absolute;
}
.personalHeader a{
    color: #f2f2f2;
    text-decoration:none;
}
.size1{
    font-size:30px;
}
.size2{
    font-size:11px;
}
.content{
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #2E4053;
    border:2px solid #2E4053;
    background-clip: content-box;
    border:none;
    min-height:300px;
}
.hidden{
    display:none;
}
.activityContainer{
    display:flex;
    margin-left: 10vw;
}
.skillPanel li{
    float: none !important;
}
}
